@import 'styles/index';

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: $GNB;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  min-height: $HEADER;
  padding: 20px 28px;
  background-color: $WHITE;
  border-bottom: 2px solid $LINE;

  .menuBtn {
    display: none;
  }

  .navigation {
    ul {
      display: flex;
      gap: 16px;
      justify-content: flex-end;

      a {
        @include heading5;

        &:hover {
          color: rgba($HIGHLIGHT, 0.8);
        }
      }

      .active {
        color: $HIGHLIGHT;
      }
    }
  }

  * {
    color: $GRAY2;
  }
}

@media (max-width: calc($BREAKPOINT_SM - 1px)) {
  .header {
    .navigation {
      .menuBtn {
        display: block;
        float: right;
      }

      ul {
        display: none;
        text-align: right;
      }

      &.active ul {
        display: flex;
        flex-direction: column;
        margin-top: 48px;
      }
    }
  }
}
