@import 'styles/index';

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  padding: 24px 32px;
  margin: 32px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 12px 12px 0 $PRIMARY;
}
