@import 'styles/index';

.container {
  .tableOfContents {
    position: sticky;
    top: calc($HEADER + 20px);
    max-height: 60vh;
    padding: 16px 24px;
    overflow-y: auto;
    background-color: $WHITE;
    border: 2px solid $LINE;

    li {
      margin-bottom: 8px;

      a {
        color: $GRAY6;

        &:hover {
          color: $GRAY2;
          text-decoration: underline;
        }
      }
    }

    .heading2 {
      @include body2;
    }

    .heading3 {
      @include body3;
      padding-left: 12px;
    }
  }

  @media (max-width: calc($BREAKPOINT_MD - 1px)) {
    display: none;
  }
}
