@import 'styles/index';

.post {
  padding: 32px;
  background-color: $WHITE;
  border: 2px solid $LINE;
  border-top: none;

  .title {
    @include heading1;
    margin-bottom: 40px;
    text-align: center;
  }
}
