@import 'styles/index';

.markdown {
  p,
  ul,
  ol {
    @include body2;
  }

  blockquote {
    @include body3;
    padding-left: 12px;
    margin: 8px 0;
    border-left: 4px solid $HIGHLIGHT;
  }

  pre {
    padding: 16px;
    margin: 12px 0;
    overflow: scroll;
    white-space: pre;
    background-color: $GRAYE;
    border-radius: 8px;

    code {
      color: $GRAY3;
      white-space: pre;
    }
  }

  code {
    @include body2;
    padding: 0 4px;
    overflow: scroll;
    color: $CODE;
    background-color: $GRAYE;
  }

  li {
    margin-left: 24px;
    list-style-type: circle;
  }

  h1 {
    @include heading1;
    margin: 12px 0;
  }

  h2 {
    @include heading2;
    margin: 8px 0;
  }

  h3 {
    @include heading3;
    margin: 4px 0;
  }

  h4 {
    @include heading4;
    margin: 2px 0;
  }

  strong {
    font-weight: bold;
  }
}
