@import 'styles/index';

.projectPreview {
  color: $GRAY2;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 10%);

  > button {
    text-align: left;
  }

  .info {
    @include body2;
    padding: 12px 16px;

    > * {
      margin-bottom: 8px;
    }

    .title {
      @include heading5;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      color: $GRAY2;

      .tag {
        @include body4;
        padding: 4px 8px;
        background-color: $PRIMARY;
        border-radius: 4px;
      }

      .tech {
        background-color: $SECONDARY;
      }
    }

    .links {
      display: flex;
      gap: 16px;

      * {
        color: inherit;

        &:hover {
          color: $GRAY2;
        }
      }
    }
  }

  &:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 20%);

    * {
      color: $GRAY8;
    }
  }
}
